body {
  margin: 0 auto;
}

#canvas {
  background: black;
  display: inline;
  left: 0;
  right: 0;
  margin: auto;  
  position: absolute;
  z-index: -1;
}

#canvas-start-page {
  background: rgba(169, 169, 169, 0.8);
  left: 0;
  right: 0;
  margin: 10% auto;
  position: absolute;
}